/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.cardContainer{
    width: 80%; 
    padding: 30px;
    overflow-x: scroll;             /*must have*/
    background: #f5f5f5;
    white-space: nowrap;            /*must have*/
    /* border: 2px solid black; */
    border-radius: 14px;
    background: #e3e3e3;
 
}

.card{
    box-sizing: border-box;         /*must have*/
    display:inline-block;           /*must have*/
}

.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container{
    width: 80%;
    margin: 0,auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-main{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.about-footer{
    margin-top: 2rem;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}